      <lu id="dropdown1" class="dropdown-content">
        <% if current_user%>
          <li><%= link_to 'Admin', rails_admin_path %></li>
          <li><%=link_to "Sair", destroy_user_session_path, :method => :delete, class:"textonavbar"%>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <% end %>
      </lu>
      <nav class="teal" role="navigation">
        <div class="nav-wrapper container ">
          <!-- <li class="brand-logo responsive-img"> <img src="/assets/luz.png"><img class="responsive-img" src="<%= link_to 'Login', units_path %>"></li> -->
          <ul class="left brand-logo responsive-img"><%= link_to 'Home', root_path %></ul>

          <ul class="right hide-on-med-and-down left ">
            <% if current_user%>
              <li><a class="dropdown-button" href="#1" data-activates="dropdown1">User<i class= "material-icons right">arrow_drop_down</i></a></li>
            <% end %>
          </ul>
        </div>
      </nav>
