<footer class="page-footer teal darken-1">
         <div class="container">
             <div class="col l6 s12">
               <h5 class="white-text">SIG-MBS</h5>
               <p class="grey-text text-lighten-2">Sistema Gerencial Mesa Brasil</p>
             </div>
         </div>
         <div class="footer-copyright">
           <div class="container center">
             <h6 class="grey-text text-lighten-5">© 2017 Copyright Ismael Barbosa</h6>
           </div>
         </div>
       </footer>
  </nav>
