<footer class="page-footer teal dark-1">
         <div class="container">
             <div class="col l6 s12">
               <h5 class="white-text">SGMBS</h5>
               <p class="grey-text text-lighten-4">Sistema Gerencial Mesa Brasil</p>
             </div>
         </div>
         <div class="footer-copyright">
           <div class="container center">
           © 2014 Copyright Ismael Barbosa

           </div>
         </div>
       </footer>
  </nav>
