
<%= render 'page/user_navbar' %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text">RELATÓRIOS</h2>
    <div class="row center">
      <h5 class="header col s12 light">Sistema de Informação Gerencial Mesa Brasil Sesc</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>

<div class="container">
  <div class="section">


    <div class="container-fluid">
      ...
    </div>

  </div>
  <br><br>
</div>
<%= render 'page/user_footer' %>
